<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <!-- KTM SHOP -->
        <!-- <img src="/tienda/src/assets/logoKtm.png" style="width: 130px; height: 80px;" alt=""> -->
        <img class="img-fluid" src="../../../assets/logoKtm.png" style="width: 130px; height: 70px;">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">Inicio</a>
            </li>
            <!-- btn-group -->
            <!-- <div class="btn-group">
              <button 
                class="btn btn-secondary dropdown-toggle" 
                type="button" 
                id="defaultDropdown" 
                data-bs-toggle="dropdown" 
                data-bs-auto-close="true" 
                aria-expanded="false"
                *ngIf="auth.user$ | async as user">
                Bicicleta
              </button>
              <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                <li><a class="dropdown-item" routerLink="/bicicleta">OverView</a></li>
                <li><a class="dropdown-item" routerLink="/addbike">Add Bike</a></li>
              </ul>
            </div> -->

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav" *ngIf="auth.user$ | async as user">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Bicicletas
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" routerLink="/bicicleta">Ver Bike</a></li>
                    <li><a class="dropdown-item" routerLink="/addbike">Agregar Bike</a></li>
                  </ul>
                </li>
              </ul>
            </div>





            <!-- <li class="nav-item">
              <a class="nav-link" *ngIf="auth.user$ | async as user" routerLink="/bicicleta">Bicicletas</a>
            </li> -->
            
            <li class="nav-item">
              <a class="nav-link" *ngIf="auth.user$ | async as user" routerLink="/profile">Perfil</a>
            </li>

          </ul>
          
        </div>

      </div>
      <form class="d-flex">
        
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <button class="btn btn-outline-danger" (click)="auth.logout({ returnTo: document.location.origin })">
            Log out
          </button>
        </ng-container>
    
        <ng-template #loggedOut>
          <button class="btn btn-outline-success" (click)="auth.loginWithRedirect()">Log in</button>
        </ng-template>
      
      
      </form>
    </div>
</nav>